# Python demo
Demo, showing major python syntax, common cheats and gotchas

Victor Kitov, <v.v.kitov@yandex.ru>, <https://victorkitov.github.io>

[Modify style of jupyter notebook for full screen preview](https://stackoverflow.com/questions/21971449/how-do-i-increase-the-cell-width-of-the-jupyter-ipython-notebook-in-my-browser)

# Table of contents

* [Python as calculator](#Python-as-calculator)
 * [Boolean logic](#Boolean-logic)
 * [Basic types](#Basic-types)
  * [Dynamic typing:](#Dynamic-typing:)
  * [Understanding type](#Understanding-type)
  * [Converting to type](#Converting-to-type)
 * [Frequently used built-in functions](#Frequently-used-built-in-functions)
  * [Arithmetic](#Arithmetic)
  * [Logical](#Logical)
* [print function](#print-function)
  * [Pretty printing](#Pretty-printing)
* [Conditional execution](#Conditional-execution)
* [Functions](#Functions)
 * [Different ways to pass arguments](#Different-ways-to-pass-arguments)
 * [Predefined arguments](#Predefined-arguments)
 * [Variable number of arguments](#Variable-number-of-arguments)
* [Cycle execution](#Cycle-execution)
* [Handling exceptions](#Handling-exceptions)
* [Working with files](#Working-with-files)
* [String data type](#String-data-type)
  * [Common string operations](#Common-string-operations)
  * [Printing output](#Printing-output)
* [Indexed sequences (lists, tuples, strings, etc.)](#Indexed-sequences-(lists,-tuples,-strings,-etc.))
 * [Iterating over elements](#Iterating-over-elements)
 * [Length](#Length)
 * [Get all unique elements](#Get-all-unique-elements)
  * [Count all unique elements](#Count-all-unique-elements)
 * [Indexing](#Indexing)
  * [Indexing from the end](#Indexing-from-the-end)
  * [Element location](#Element-location)
 * [Subsequencing](#Subsequencing)
 * [Concatenation](#Concatenation)
 * [Mutiplication](#Mutiplication)
 * [Check that element is in the sequence](#Check-that-element-is-in-the-sequence)
 * [Sorting](#Sorting)
 * [Specifics of list, tuple and string](#Specifics-of-list,-tuple-and-string)
  * [Sequence of sequences](#Sequence-of-sequences)
 * [List <-> string conversion](#List-<->-string-conversion)
* [Generators](#Generators)
 * [Create custom generator](#Create-custom-generator)
* [Integrated python debugger](#Integrated-python-debugger)
   * [Set breakpoint](#Set-breakpoint)
   * [List of debugger commands](#List-of-debugger-commands)
  * [Setting breakpoints](#Setting-breakpoints)
* [Set data type](#Set-data-type)
  * [Set operations](#Set-operations)
* [Dictionary data type](#Dictionary-data-type)
* [Classes](#Classes)
* [Gotcha: recreation of objects vs. pointer operations](#Gotcha:-recreation-of-objects-vs.-pointer-operations)
   * [Operations on mutable types are done with pointers.](#Operations-on-mutable-types-are-done-with-pointers.)
   * [Solution - recreate object](#Solution---recreate-object)
* [Serialization](#Serialization)

In [2]:
%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

Why Python?
    * big community, making open source extensions
    * compact code: around 5 times more compact than C++
    * interpretable: good for interactive research (need to stop, analize intermediate results)

# Python as calculator

In [1]:
3 + 5

8

In [4]:
3 * 5

15

In [5]:
type(3)

int

In [6]:
10 / 3

3.3333333333333335

In [7]:
10 // 3

3

In [8]:
10 % 3

1

In [9]:
2**16

65536

In [10]:
1 // 3

0

## Boolean logic

In [11]:
True, False

(True, False)

In [12]:
True == False

False

In [13]:
True != False

True

In [14]:
1 != 10

True

In [15]:
True or False

True

In [16]:
True and False

False

In [17]:
not False

True

In [18]:
not True

False

In [19]:
(2 > 1)

True

In [20]:
all([True, True, True])

True

In [21]:
any([False, True, False])

True

## Basic types

In [22]:
a = True

In [23]:
a

True

In [24]:
a = "text"

In [25]:
a

'text'

In [26]:
type(a)

str

In [27]:
b = 11  # integer
b

11

In [28]:
c = 1 / 3
c  # float

0.3333333333333333

In [29]:
c = 1 // 3  # integer division
c  # integer

0

In [30]:
0.3 == 0.3

True

In [31]:
10**-6 == 1e-6

True

### Dynamic typing:

No type declaration required for variables, type is understood on the fly.

In [32]:
a = 1
a = "hello"
a = True

In [40]:
assert isinstance(a, bool), "a should be booelan!!!!"

In [32]:
a = 123
a = "some text"
a = [1, 2, 3]  # no exception

### Understanding type

In [33]:
a = 111

In [34]:
a = "string"

In [41]:
type(a)

bool

In [36]:
a = 3
type(a)

int

In [37]:
a = 1 / 3
type(a)

float

In [38]:
assert type(a) == float, "a should be float"

In [39]:
a = "text"
type(a)

str

In [40]:
a = 3
b = 1 / 3
type(a) == type(b)  # are types of a and b the same?

False

In [41]:
a = 1 / 3
isinstance(a, int)

False

In [42]:
a = 1 // 3
isinstance(a, int)

True

In [43]:
a = 1 / 3
isinstance(a, float)

True

In [44]:
a = 1 / 3
isinstance(a, (int, float))  # is either integer of float?

True

In [45]:
[1, 2, 3, 2, 1]

[1, 2, 3, 2, 1]

In [46]:
(1, 2, 3, 2, 1)

(1, 2, 3, 2, 1)

In [47]:
set([1, 2, 3, 2, 1])

{1, 2, 3}

### Converting to type

In [48]:
int(2 / 3)

0

In [49]:
float(3)

3.0

In [50]:
str(1 / 3)

'0.3333333333333333'

## Frequently used built-in functions

### Arithmetic

In [51]:
max(1, 2, 3, 4, 5, 6)

6

In [52]:
max([1, 2, 3])

3

In [53]:
min(1, 2, 3)

1

In [54]:
min([1, 2, 3])

1

In [55]:
sum([1, 2, 3])

6

### Logical

In [43]:
s = ""
if s:
    print("s is True")

In [64]:
any([False, False, True, False])

True

In [62]:
any([0, False, 0, "abc", set()])  # true if exists any "True" element

'abc'

In [ ]:
all([True, True, True])

In [ ]:
all([12, True, (1, 2, 3), "text"])  # true if all elements are "True"

# print function

In [ ]:
print("text")
print("text")
print("text")

In [ ]:
print("text", end=" ")
print("text", end=" ")
print("text", end=" ")

In [ ]:
print("output to standard console")
import sys

print("output to errors console", file=sys.stderr)

### Pretty printing

In [48]:
a = 123
b = "hello"
f"a={a}"

'a=123'

In [45]:
print(f"a={a}, b={b}")

a=123, b=hello

In [46]:
c = 3.1415926
print(f"c={c}, formatted c={c:.2f}")

c=3.1415926, formatted c=3.14

# Conditional execution

In [ ]:
a = 5

In [ ]:
if a == 4:
    print("a is equal to 4")

In [ ]:
if a == 4:
    print("a is equal to 4")
else:
    print("a is not equal to 4")

In [ ]:
if a == 4:
    print("a is equal to 4")
elif a < 4:
    print("a is less than 4")
elif a == 5:
    print("a is 5")
else:
    print("a>4 and a!=5")

# Functions

In [50]:
def fun(a, b):
    return a + b

In [51]:
fun2 = lambda a, b: a + b  # fun2 is equivalent to fun

In [52]:
fun(2, 3) == fun2(2, 3)

True

In [53]:
fun2(10, 5)

15

## Different ways to pass arguments

In [54]:
fun(3, 4)

7

In [55]:
fun(3, b=4)

7

In [56]:
fun(a=3, b=4)

7

Function naming: verb noun, verb adjective noun
* sort_array
* find_best_match
* etc.

## Predefined arguments

In [ ]:
def fun(a, b=10):
    return a + b

In [ ]:
fun(3)

## Variable number of arguments

In [57]:
def fun(*args123):
    print("Arguments passed:", args123)
    print("Sum of arguments:", sum(args123))

In [58]:
fun(1, 2, 3, 4)

Arguments passed: (1, 2, 3, 4)
Sum of arguments: 10

In [59]:
def fun(**kwargs):
    print("Keywrod arguments passed:", kwargs)  # kwargs is a dictionary
    print("Arguments passed:", kwargs.keys())
    print("Sum of argument values:", sum(kwargs.values()))

In [60]:
fun(a=1, b=2, c=3, d=4, e=6)

Keywrod arguments passed: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 6}
Arguments passed: dict_keys(['a', 'b', 'c', 'd', 'e'])
Sum of argument values: dict_values([1, 2, 3, 4, 6])

# Cycle execution

In [ ]:
for a in [1, 2, 3, 4]:
    print(a, end=",")

print()
print("Cycle is complete")

In [ ]:
a = 1
while a <= 4:
    print(a, end=",")
    a += 1

In [ ]:
a = 1
while True:
    print(a, end=",")
    a += 1
    if a > 4:
        break

# Handling exceptions

In [61]:
a = 1
b = 0
try:
    c = a / b
except ZeroDivisionError as ex:
    print("Denominator should be non-zero")
# except other exceptions
else:  # if no exception
    print("All is OK. You data is safe.")
finally:
    print("This block is executed no matter exception happened, or not.")
# raise ZeroDivisionError

Denominator should be non-zero
This block is executed no matter exception happened, or not.

# Working with files

In [62]:
a = open("sample_file.txt").read()
a

'one\ntwo\nthree\nfour'

In [63]:
with open("sample_file.txt") as f:
    for line in f:
        print(line, end="")

one
two
three
four

In [ ]:
with open("Data/sample_file.txt") as f:
    s = (
        f.read()
    )  # read whole file content at once (faster but requires memory to store whole file)
print(s)

# String data type

In [64]:
"some text"

'some text'

In [65]:
"some text"

'some text'

In [ ]:
"""some text"""

In [ ]:
'Text with "double" quotes'

In [ ]:
"Text with 'single' quotes"

s='''Some multiline text with

empty lines and complex indentation:
Item 1
Item 2
    Subitem 1
    Subitem 2'''

print(s)

In [ ]:
# multiline commenting: with ''' ....... ''''''''
print("one")
print("two")
"""
print('three')
print('four')
"""
print("five")

In [ ]:
"some text \
 on several lines"

### Common string operations

Substring appears inside a string?

In [ ]:
"world" in "hello world!!!"  # does substring appear inside string?

In [ ]:
"this is some text".startswith("this")  # does string start from a given substring?

In [ ]:
"this is some text".endswith("text")  # does string end with given substring?

re - find substring, replace substring with pattern

### Printing output

In [ ]:
a = True
b = 1 / 3
c = "hello"

In [ ]:
b

In [ ]:
print("a=%s, b=%.2f, c=%s" % (a, b, c))

In [ ]:
print(f"a={a}, b={b:.2f}, c={c}")

In [ ]:
1 / 3

In [ ]:
# set global displayed precision to 3 characters
%precision %.3f

In [ ]:
1 / 3

# Indexed sequences (lists, tuples, strings, etc.)

* lists
* tuples
* strings
* user defined

Indexed sequences contain a set of enumerated elements.

String contains only characters.

List and tuple can contain any elements

In [66]:
[1, 2, 3]

[1, 2, 3]

In [67]:
(1, 2, 3)

(1, 2, 3)

In [66]:
q = [1, 2, 3, "some text", True, [1, 2, 3]]
q[-1][1]

2

In [68]:
# Tuple
t = ("Hello", 1, 1, 1, True, (1, 2, 3))
t

('Hello', 1, 1, 1, True, (1, 2, 3))

Difference: list - mutable, tuple - immutable

In [69]:
# string
s = "abcba"

## Iterating over elements

In [70]:
print("list iteration:")
for e in l:
    print(e, end=",")

print("\n\ntuple iteration:")
for e in t:
    print(e, end=",")

print("\n\nstring iteration:")
for e in s:
    print(e, end=",")

list iteration:
1,0.3333333333333333,True,a,a,a,(1, 2, 3),

tuple iteration:
Hello,1,1,1,True,(1, 2, 3),

string iteration:
a,b,c,b,a,

In [71]:
for n, e in enumerate(l):
    print(f"element N{n}: {e}")

element N0: 1
element N1: 0.3333333333333333
element N2: True
element N3: a
element N4: a
element N5: a
element N6: (1, 2, 3)

In [72]:
for e1, e2, e3 in zip(l, t, s):  # iterate several sequences simultaneously
    print(e1, e2, e3)

1 Hello a
0.3333333333333333 1 b
True 1 c
a 1 b
a True a

## Length

In [73]:
# for each object we can: find number of elements
len(l), len(t), len(s)

(7, 6, 5)

## Get all unique elements

In [68]:
set([1, 2, 3, 2, 1, 2, 3])

{1, 2, 3}

In [75]:
set(l), set(t), set(s)

({(1, 2, 3), 0.3333333333333333, 1, 'a'},
 {(1, 2, 3), 1, 'Hello'},
 {'a', 'b', 'c'})

### Count all unique elements

In [76]:
len(set(l)), len(set(t)), len(set(s))

(4, 3, 3)

## Indexing

In [77]:
L = ["a", "b", "c", "d"]

In [78]:
print(f"L={L}")
print("L[0] =", L[0])  # indexing starts from 0!
print("L[1] =", L[1])  # indexing starts from 0!

L=['a', 'b', 'c', 'd']
L[0] = a
L[1] = b

### Indexing from the end

In [79]:
print(f"L={L}")
print("L[-1] =", L[-1])  # first from the end (last element)
print("L[-2] =", L[-2])  # 2nd from the end

L=['a', 'b', 'c', 'd']
L[-1] = d
L[-2] = c

In [80]:
A = [10, 11, 12, 13, 14]
A[-2:]

[13, 14]

In [81]:
A = [10, 11, 12, 13, 14, 15, 16, 17, 18]

### Element location

In [82]:
l

[1, 0.3333333333333333, True, 'a', 'a', 'a', (1, 2, 3)]

In [83]:
L.index("c")

2

In [84]:
l[l.index("a")]

'a'

## Subsequencing

In [85]:
L = [10, 11, 12, 13, 14, 15, 16]

In [86]:
L[2:]  # elements 0,1 - ignored, list elements 2,3,4...

[12, 13, 14, 15, 16]

In [87]:
L[:-2]  #  list elements 0,1,2,... except last and prelast

[10, 11, 12, 13, 14]

Exclude from the beginning and the end

In [88]:
L[2:-2]

[12, 13, 14]

Subsequence containing every 2nd element

In [89]:
L[::2]

[10, 12, 14, 16]

Sequence in reverted order

In [90]:
L[::-1]

[16, 15, 14, 13, 12, 11, 10]

Combination of all.

In [91]:
L[2:-2:2]

[12, 14]

## Concatenation

In [92]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [93]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [94]:
"abc" + "de"

'abcde'

## Mutiplication

In [70]:
"ab" * 5

'ababababab'

In [71]:
[1, 2] * 5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

## Check that element is in the sequence

In [97]:
"c" in ["a", "b", "c", "d", "e"]

True

In [98]:
"c" in ("a", "b", "c", "d", "e")

True

In [99]:
"c" in "abcde"

True

In [100]:
"cde" in "abcde"

True

## Sorting

In [101]:
sorted(L)

[10, 11, 12, 13, 14, 15, 16]

In [102]:
sorted(L, reverse=True)

[16, 15, 14, 13, 12, 11, 10]

## Specifics of list, tuple and string

Strings and tuples are immutable (cannot be modified), while lists are mutable (can be modified).

Adding element to list

In [103]:
A = [1, 2, 3]
A.append(4)  # add element to list. Not applicable to tuples and strings.
A

[1, 2, 3, 4]

In [104]:
A = [1, 2, 3]
B = [4, 5, 6]
A += B  # concatenate two lists
A

[1, 2, 3, 4, 5, 6]

In [105]:
t1 = (1, 2)
t2 = (3, 4)
t1 + t2

(1, 2, 3, 4)

In [106]:
a = "abra"
b = "cadabra"
a + b  # string concatenation

'abracadabra'

In [107]:
L = list(range(5))
print(L[::2])
del L[::2]

[0, 2, 4]

In [108]:
L

[1, 3]

### Sequence of sequences

In [109]:
A = [[1, 2, 3], [11, 12, 13], [21, 22, 23]]
A

[[1, 2, 3], [11, 12, 13], [21, 22, 23]]

In [110]:
A[1]

[11, 12, 13]

In [111]:
A[1][1]

12

## List <-> string conversion

In [73]:
"apple orange banana".split(" ")

['apple', 'orange', 'banana']

In [74]:
" ".join(["apple", "orange", "banana"])

'apple orange banana'

# Generators

In [114]:
l = [1, 2, 3]  # all elements in list are stored in memory
g = range(1, 4)  # generator stores only generating logic, memory efficient!

In [115]:
for e in g:
    print(e)

1
2
3

## Create custom generator

In [116]:
g = (e * e for e in range(4))

In [117]:
for i in g:
    print(i)

0
1
4
9

In [118]:
g = (e * e for e in range(4) if e * e != 4)  # generator with condition

In [119]:
list(g)

[0, 1, 9]

In [120]:
list(g)  # generator can be iterated only once

[]

In [121]:
fun = lambda a, b: a + b

In [122]:
list(zip([1, 2, 3], [10, 20, 30]))

[(1, 10), (2, 20), (3, 30)]

In [123]:
[fun(x, y) for x, y in zip([1, 2, 3], [10, 20, 30])]  # equivalent to previous

[11, 22, 33]

In [124]:
list(map(fun, [1, 2, 3], [10, 20, 30]))

[11, 22, 33]

# Integrated python debugger

In [125]:
a = 1
b = 0
print(a / b)

ZeroDivisionError: division by zero

In [ ]:
# inspect probem after exception:
# q: quit
# p b: print variable b
%debug

#### Set breakpoint

#### List of debugger commands

**l(ist)** list 11 lines surrounding the current line

**w(here)** display the file and line number of the current line

**n(ext)** execute the current line

**s(tep)** step into functions called at the current line

**c(ontinue)** continue execution

**r(eturn)** execute until the current function’s return is

**p<name>** print value of the variable <name>

**!<expr>** execute the expression <expr>

**q(uit)** exit the debugger

### Setting breakpoints

In [126]:
from pdb import set_trace as bp

In [127]:
print("one")
print("two")
a = 3
b = 4
bp()
print("three")
print("four")

one
two
--Return--
None
> /tmp/ipykernel_5324/539550952.py(5)<module>()
      3 a=3
      4 b=4
----> 5 bp()
      6 print('three')
      7 print('four')

ipdb>  q

# Set data type

Set contains unique elements in unordered way

In [128]:
lst = [0, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3]
set(lst)  # get unique elements

{0, 1, 2, 3}

Set can be initialized from any iterable object

In [129]:
A = set([1, 2, 3, 2, 1])
A

{1, 2, 3}

In [130]:
A = set((1, 2, 3, 2, 1))
A

{1, 2, 3}

In [131]:
A = set("abcdcba")
A

{'a', 'b', 'c', 'd'}

Useful when we need to get all unique elements of a sequence.

In [132]:
len(set("abracadabra"))

5

Also useful for set operations

In [133]:
A = set([1, 2, 3, 4, 5])
B = set([4, 5, 6, 7])

### Set operations

In [134]:
A | B  # union: contains elements from both sets

{1, 2, 3, 4, 5, 6, 7}

In [135]:
A & B  # join: contains elements from both sets

{4, 5}

In [136]:
A - B  # substraction: all elements from set A and not from set B

{1, 2, 3}

# Dictionary data type

Dictionary is a mapping between keys and values.

In [137]:
names2ages = {"Andrew": 23, "Anna": 18}

In [138]:
names2ages["Andrew"]

23

In [139]:
names2ages["Anna"]

18

In [140]:
len(names2ages)

2

In [141]:
names2ages.keys()  # iterator over keys

dict_keys(['Andrew', 'Anna'])

In [142]:
names2ages.values()  # iterator over values

dict_values([23, 18])

In [143]:
names2ages.items()  # iterator over (key,value) pairs

dict_items([('Andrew', 23), ('Anna', 18)])

Comment: iterators over keys, values or key-value pairs will retrive elements in arbitrary order.

# Classes

In [144]:
class Person:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        name = "Andrew"
        print("My name is %s. I am %d years old." % (self.name, self.age))

In [145]:
p = Person("Bob", 30)
p.introduce()

My name is Bob. I am 30 years old.

### Advanced usage of classes

In [146]:
class Person:
    # class variables
    group = "colleagues"
    people_count = 0

    def __str__(self):  # string representation of object
        return f"<name={self.name},age={self.age}>"

    def __init__(self, name, age):
        self.name = name  # object variable
        self.age = age  # object variable
        Person.people_count += 1  # modify class variable per obj creation

    def __eq__(obj1, obj2):  # define == operation
        return obj1.name == obj2.name and obj1.age == obj2.age

    def __add__(obj1, obj2):  # define + operation
        return obj1.name + " " + obj2.name

    def introduce(self):
        name = "Andrew"
        print("My name is %s. I am %d years old." % (self.name, self.age))

In [147]:
p1 = Person("Bob", 30)
p2 = Person("Bob", 30)
p3 = Person("Alice", 30)

In [148]:
print(p1)

<name=Bob,age=30>

In [149]:
print(p1 == p2, p1 != p2)
print(p1 == p3)

True False
False

In [150]:
p1 + p3

'Bob Alice'

In [151]:
Person.group  # class variable

'colleagues'

In [152]:
Person.people_count  # modified class variable per object creation

3

# Gotcha: recreation of objects vs. pointer operations

Immutable types (numbers, strings, tuples) are recreated on operations

In [153]:
a = 1
b = a
b = 100
a  # expected

1

In [154]:
a = "Alice "
b = a
b += "Bob"
a  # expected

'Alice '

In [155]:
A = [1, 2, 3]
B = A
B = B.append(4)  # new list is created after concatenation
A  # expected

[1, 2, 3, 4]

In [156]:
A = [1, 2, 3]
B = list(A)
B.append(4)
A

[1, 2, 3]

#### Operations on mutable types are done with pointers.
Mutable types: lists, sets, dictionaries

In [78]:
A = [1, 2, 3]
B = A
B.append(4)
A

[1, 2, 3, 4]

In [158]:
A = set([1, 2, 3])
B = A
B.add(4)
A

{1, 2, 3, 4}

In [159]:
A = {"Andrew": 23}
B = A
B["Ann"] = 11
A

{'Andrew': 23, 'Ann': 11}

#### Solution - recreate object

In [160]:
A = [1, 2, 3]
B = list(A)  # or A.copy()
B.append(4)
A

[1, 2, 3]

In [161]:
A = {"Andrew": 23}
B = dict(A)
B["Ann"] = 11
A

{'Andrew': 23}

# Serialization

In [84]:
import pickle

data = [1, "hello", 3, True, (10, 20, 30)]

In [85]:
with open("serialized_obj.pkl", "wb") as f:
    pickle.dump(data, f)

In [86]:
del data

In [87]:
with open("serialized_obj.pkl", "rb") as f:
    data = pickle.load(f)
data

[1, 'hello', 3, True, (10, 20, 30)]

Running the following 2 commands will force Jupiter to reload modules during each cell execution (useful for module debugging)

In [167]:
%load_ext autoreload

# reloads ALL modules
%autoreload 2  

# reloads modules imported with "%aimport" command
%autoreload 1  

# disables autoreload    
%autoreload 0

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Read more: 
* [Official documentation](http://docs.python.org/3/)